<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>PsyDiary</h6>
                <p class="small">Приложение дневник для анализа психического состояния</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="small mb-1">
                    🔒 <a href="{% url 'users:privacy_policy' %}" class="text-white text-decoration-none">Политика конфиденциальности</a>
                </p>
                <p class="small text-secondary mb-0">
                    &copy; Nik. Все права защищены воспаленным сознанием автора
                </p>
            </div>
        </div>
    </div>
</footer>